[defaults]
stdout_callback = yaml
retry_files_enabled = false
roles_path = roles
gathering = smart
callbacks_enabled = timer, profile_tasks

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
